* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    max-width: 1600px;
}

/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

logo {
    width: 139px;
}

.btn {
    background-color: #30B868;
    color: #ffffff;
    padding: 12px 16px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #b205f794;
    box-shadow: 0 4px 8px #fc212171;
}

.capi {
    text-transform: capitalize;
}

/*main style */

header {
    background-color: #ffffff;
    padding: 16px 120px;

}

nav {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

#banner {
    background-image: url("../images/hero-bg.png");
    padding: 70px 120px 134px;
    background-position: center;
   

}

.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    gap: 16px;

}

.banner-container h1 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 84px;
    color:#ffffff ;
}

.banner-container h1 .extracolor {
    color: #30B868;
}

.banner-container .para {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 16px;

}

#dot {
    max-width: 229px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 100px;
    gap: 6px;

}

#dot p {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
    display: inline-flex;
    align-items: center;
}

#dot img {
    width: 16px;
    height: 16px;
    
}


.bannerbutton {
    display: flex;
    gap: 16px;
    
}

.btnn {
    background-color: transparent;
    color: #ffffff;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    gap: 10px;
    border: solid 1px #ffffff;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.btnn:hover {
    background-color: #469165bd;
    box-shadow: 0 4px 8px #fc212171;
}


.btnn img {
    width: 20px;
    height: 20px;
    vertical-align: middle;

}

.box img {
    display: flex;
    flex-direction: column;
    background-color: #F95555;
    padding: 10px;
    border-radius: 50px;
}

#container3 {
    padding: 70px 120px 120px 120px;
    background-color: #fbfbfb;

}

#container3 .container3-container {
    max-width: 1360px;
    margin: 0 auto;
}

.container3-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 44px;
}

.container3-heading h2{
    color: #001931;
    font-weight: 700;
    font-size: 48px;
}

.container3-heading p{
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

#container3 .allbox {
    display: flex;
    gap: 24px;

}

#container3 .allbox .box{
    box-shadow: 0 0 8 #66000000;
    background-color: #ffffff;
    width: 322px;
    height: 300px;
    padding: 22px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    justify-content: center;

}


#container3 .allbox .box h3 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#container3 .allbox .box p{
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

}

#benefit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px;
    gap: 60px;

}

#benefit .benefit-main .benefit-spec {
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

#benefit .benefit-main .benefit-spec .pp{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    text-transform: uppercase;
}

#benefit .benefit-main .benefit-spec .ppp{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#benefit .benefit-main .benefit-spec h2{
    font-weight: 700;
    font-size: 48px;
    color: #001931;
}

.benefit-container img {
    max-width: 600px;
    max-height: 600px;
}

#benefit .benefit-main{
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.benefit-list {
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
}

#challenge{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 120px 120px 120px;
}

#challenge .challenge-container {
    background-color: #f7f6f2;
    padding: 80px 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 1360px;

}

#challenge .challenge-container .challenge-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#challenge .challenge-container .challenge-box h2 {
    margin: 16px;
    color: #001931;
    font-weight: 700;
    font-size: 40px;
}

#challenge .challenge-container .challenge-box p {
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    margin-bottom: 24px;
    text-align: center;
}

#challenge .challenge-container .challenge-box .btn {
    margin: 16px;
}

#last {
    background-color: #001931;
    padding: 120px 120px 30px 120px;
}

.last-container {
    display: flex;
    justify-content: space-between;
}

.icons-last {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.icons-last {
    display: flex;
    align-items: start;
    padding-left: 17px;
}

.icons-last img {
    width: 20px;
    height: 20px;
}

#left-align p {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin: 16px;
    align-items: flex-start;
    text-align: right;
}

#left-align {
    display: flex;
    flex-direction: column;
    margin-right: 85px;
 
}

#footer-text {
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

}

#line {
    margin: 40px 0 20px 0;

}

#line hr {
    border: solid #E5E7EB 1px;
    align-items: center;

}

