* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    max-width: 1600px;
}

/* shared style */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

logo {
    width: 139px;
}

.btn {
    background-color: #30B868;
    color: #ffffff;
    padding: 12px 16px;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    gap: 10px;

}

/*main style */

header {
    background-color: #ffffff;
    padding: 16px 120px;

}

nav {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

#banner {
    background-image: url("../images/hero-bg.png");
    padding: 70px 120px 134px;
   

}

.banner-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    gap: 16px;

}

.banner-container h1 {
    font-size: 72px;
    font-weight: 700;
    margin: 0 auto;
    line-height: 84px;
    color:#ffffff ;
}

.banner-container h1 .extracolor {
    color: #30B868;
}

.banner-container p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;

}

#dot {
    max-width: 229px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 100px;
    gap: 6px;

}

#dot p {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    gap: 6px;
    display: inline-flex;
    align-items: center;
}

#dot img {
    width: 16px;
    height: 16px;
    
}


.bannerbutton {
    display: flex;
    gap: 16px;
    
}

.btnn {
    background-color: transparent;
    color: #ffffff;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    gap: 10px;
    border: solid 1px #ffffff;
    display: inline-flex;
    align-items: center;

}

.btnn img {
    width: 20px;
    height: 20px;
    vertical-align: middle;

}